* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; 
}


.hidden {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}
/* weather */
nav {
    display: flex;
    justify-content: flex-end;
}

#weather {
    margin: 15px 15px;
    color: #fff;
    font-weight: 300;
}

/* clock */

#clock {
    color: #fff;
    font-weight: 300;
    font-size: 120px;
}

/* greeting */

#greeting {
    margin-top: 35px;
}

#greeting #login-form {
    margin-top: 150px;
    text-align: center;
}

#greeting #greeting-text {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
}

#greeting #login-form span {
    display: block;
    color: #fff;
    font-weight: 300;
    font-size: 80px;
}

#greeting #login-input {
    margin-top: 30px;
    outline: 0;
    border: none;
    width: 600px;
    height: 50px;
    background: transparent;
    border-bottom: #fff solid 1px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

/* todo list */
#todo-form #todo-input {
    margin-top: 20px;
    outline: 0;
    border: none;
    width: 600px;
    height: 50px;
    background: transparent;
    border-bottom: #fff solid 1px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

#todo {
    margin-top: 35px;
}

#todo #todo-list {
    list-style: none;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}

#todo #todo-list {
    margin-top: 20px;
}

#todo #todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

#todo #todo-list li button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
}
